 <% include ../header %>
    <div class="container">
      <div class='row'>
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="well span6 offset2">
          <form class='form-stacked' method='POST' action='/site/doRegister' id='sign-up-form'>
            <h2>免费注册</h2>
            
            <div class='cleaner_h20'></div>
            
            <div class="clearfix">
              <label for="email_up">邮箱</label>
              <div class="input">
                <input id="email_up" name="email_up" size="30" type="text" class='xlarge'/>
                <!--
                <span class="help-block">
                  <span class='label important'>Warning</span> incorrect email address
               </span>
                -->
              </div>
            </div>
            <div class="clearfix">
              <label for="nick_up">昵称</label>
              <div class="input">
                <input id="nick_up" name="nick_up" size="30" type="text" class='xlarge'/>
                <!--
                <span class="help-block">
                  <span class='label important'>Warning</span> incorrect email address
               </span>
                -->
              </div>
            </div>
            <div class="clearfix">
              <label for="pwd_up">密码</label>
              <div class="input">
                <input id="pwd_up" name="pwd_up" size="30" type="text" class='xlarge'/>
              
              </div>
            </div>
            
            <div class='cleaner_h10'></div>
            
            <ul class="inputs-list">
              <li>
                <label>
                  <input type="checkbox" name="terms_up" id='terms_up' value="yes" checked='true' />
                  <span for='terms_up'> <a href='#'>同意</a></span>
                </label>
              </li>
            </ul>
            
            <div class='cleaner_h20'></div>
            <input type='submit' value='注册' id='submit_up' name='submit_up' class="btn primary"/>
          </form>
        </div>
        
        <div class="well span5">
          <form class='form-stacked' method='POST' action='/site/doLogin' id='sign-in-form'>
            <h2>登录</h2>
            
            <div class='cleaner_h20'></div>
            
            <div class="clearfix">
              <label for="email_in">邮箱</label>
              <div class="input">
                <input id="email_in" name="email_in" size="30" type="text"/>
                <!--
                <span class="help-block">
                  <span class='label important'>Warning</span> the username already exists
                </span>
                -->
              </div>
            </div>
            
            <div class="clearfix">
              <label for="pwd_in">密码</label>
              <div class="input">
                <input id="pwd_in" name="pwd_in" size="30" type="text"/>
                <!--
                <span class="help-block">
                  <span class='label important'>Warning</span> too easy - even I can guess it
               </span>
              -->
              </div>
            </div>
            
          
            
            <div class='cleaner_h20'></div>
            <input type='submit' value='登录' id='submit_in' name='submit_in' class="btn primary"/>
           
          </form>
    
        </div>
      </div>
      <div class='cleaner'></div>

       <% include ../footer %>