meta(charset="utf-8")
title Login &amp; Sign Up Page 1
meta(name="description",content="")
meta(name="author",content="")
link(type="text/css",rel="stylesheet",href="/stylesheets/bootstrap.min.css")
style(type="text/css")
  | body {
  | padding-top: 60px;
  | }
  | .switch{
  | display:inline-block;
  | cursor:pointer;
  | }
div.topbar
  div.fill
    div.container
      a.brand(href="#") 月光族财务系统
      ul.nav.secondary-nav
        li
          a(href="#") 朋友 欢迎您!