extends layout

block content
    .row
        .well.span6.offset2
          form#sign-up-form.form-stacked(method='POST', action='/site/doRegister')
            h2 免费注册
            .cleaner_h20
            .clearfix
              label(for='email_up') 邮箱 
              .input
                input#email_up.xlarge(name='email_up', size='30', type='text')
            .clearfix
              label(for='nick_up') 昵称
              .input
                input#nick_up.xlarge(name='nick_up', size='30', type='text')
            .clearfix
              label(for='pwd_up') 密码
              .input
                input#pwd_up.xlarge(name='pwd_up', size='30', type='text')
            .cleaner_h10
            ul.inputs-list
              li
                label
                  input#terms_up(type='checkbox', name='terms_up', value='yes', checked='true')
                  span(for='terms_up')
                    a(href='#') 同意
            .cleaner_h20
            input#submit_up.btn.primary(type='submit', value='注册', name='submit_up')
        .well.span5
          form#sign-in-form.form-stacked(method='POST', action='/site/doLogin')
            h2 登录
            .cleaner_h20
            .clearfix
              label(for='email_in') 邮箱
              .input
                input#email_in(name='email_in', size='30', type='text')
            .clearfix
              label(for='pwd_in') 密码
              .input
                input#pwd_in(name='pwd_in', size='30', type='text')
            .cleaner_h20
            input#submit_in.btn.primary(type='submit', value='登录', name='submit_in')

 