extends layout

block content
  div.sidebar
    div.well.span4
      h2 Filter Results
      div.cleaner_h20
      input.span4(type="text",placeholder="Search",value="BMW M5")
      div.cleaner_h10
      input.span2(type="text",placeholder="Min Price")
      | to
      input.span2(type="text",placeholder="Max Price")
      div.cleaner_h10
      input.span2(type="text",placeholder="Min Year")
      | to
      input.span2(type="text",placeholder="Max Year")
      div.cleaner_h10
      select.span4
        option Show All
        option Show ads by Private Sellers Only
        option Show ads by Dealers Only
      div.cleaner_h20
      button.btn Reset
      button.btn.primary Update
  div.content
    ul.breadcrumb
      li
        a(href="#") Home
        span.divider /
      li
        a(href="#") Autos
        span.divider /
      li.active BMW
    div.cleaner
    table.zebra-striped#main-items
      thead
        tr
          th.span2
          th.span4 Title
          th.span2 Price
          th.span2 Location
          th.span2 Seller
      tbody
        tr
          td.mini-thumbnail
            img(src="images/sample/car1.jpg")
          td BMW M5
          td $125,000
          td Seattle, WA
          td shershams
        tr.highlight
          td.mini-thumbnail
            img(src="images/sample/car2.jpg")
          td BMW M5 - I paid more, so I'm a featured ad!
          td $50,000
          td Seattle, WA
          td shershams
        tr
          td.mini-thumbnail
            img(src="images/sample/car3.jpg")
          td I'm so mean that I wrote such a long title. It's just like a description, but I like to call it title! And as you can see, this text can be wrapped into several lines. No mercy to mean people like me.
          td $25,000
          td Seattle, WA
          td shershams
        tr
          td.mini-thumbnail
            img(src="images/sample/car4.jpg")
          td BMW M5
          td $20,000
          td Seattle, WA
          td shershams
        tr
          td.mini-thumbnail
            img(src="images/sample/car5.jpg")
          td BMW M5
          td N/A
          td Seattle, WA
          td shershams