extends layout

block content
    .sidebar
        .well.span4
          h3 本月累计支出
                span 34
                | ,收入
                span 44
          select.span4
            - var obj = [ 1,2,3,4,5,6,7,8,9,10,11,12 ]
            - each val, key in obj
                 option(value='#{val}') #{val}月  
          button.btn 统计
        .well.span4
         form#sign-up-form.form-stacked(method='POST', action='/account/doAddAccount')
            h2 记账本
            .cleaner_h20
            input.span4(type='text', name='custom_at', placeholder='时间', value='2012-10-11 00:00:00')
            .cleaner_h10
            input.span2(type='text', name='price', placeholder='金额')
            select.span4( name='custom_type')
              option(value='1') 收入
              option(value='2') 支出
            textarea(name='content',placeholder='备注') cc
            .cleaner_h10
            select.span4( name='come_type')
              option(value='1') 房租
              option(value='2') 烟酒
              option(value='3') 餐费
              option(value='4') 工资
              option(value='5') 人情往来
              option(value='100') 其他
            .cleaner_h20
            button.btn(type='submit') 添加
            button.btn.primary 修改

      .content
        ul.breadcrumb
          li
            a(href='#') Home
            span.divider /
        
          li.active 用户中心
        .cleaner
        table#main-items.zebra-striped
          thead
            tr
              th.span2 支出/收入
              th.span2 类型
              th.span2 消费时间
              th.span2 费用
              th.span2 备注
              th.span2 操作
          tbody
            - if (accounts.length)  
              - accounts.forEach(function (account){
                tr
                td 
                   case account.custom_type
                     when 1
                       span(style='color:red')收入
                     when 2
                       span(style='color:green')支出
                td 
                   case account.come_type
                     when 1
                       房租
                     when 2
                       烟酒
                     when 3
                       餐费
                     when 4
                       工资
                     when 5
                       人情往来
                     when 100
                       其他
                td #{account.custom_ymdhis}
                td #{account.price}
                td #{account.content}
                td 
                    a(href='/account/doDelete?id='+account.id) 删除   
                    a(href='/account/doEdit?id='+account.id) 更改      
              - })
 
                tr
                td 
                td 
                td 
                td 
                td 
                  a(href='down') 上一页
                td 
                  a(href='down') 下一页
 

      include footer
  