!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Catalog 1
    meta(name='description', content='')
    meta(name='author', content='')
    //
       Le HTML5 shim, for IE6-8 support of HTML elements 
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='scripts/jquery.min.js')
    script(src='scripts/bootstrap-dropdown.js')
    script(type='text/javascript')
      $(document).ready(function(){
      $('#topbar').dropdown();
      });
    //
       Le styles 
    link(type='text/css', rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    style(type='text/css')
      body {
      padding-top: 60px;
      }
      .container-fluid > .content{
      margin-left:280px;
      }
      .categories li{
      }
      .categories li:focus{
      }
      #main-items tbody tr td{
      cursor:pointer !important;
      }
      .highlight td{
      font-weight:bold;
      }
      td.mini-thumbnail img{
      max-height:50px;
      max-width:100px;
      }
      td.mini-thumbnail{
      text-align:center;
      }
    //
       Le fav and touch icons 
    link(rel='shortcut icon', href='images/favicon.ico')
    link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='images/apple-touch-icon-114x114.png')
  body
    .topbar
      .fill
        .container
          a.brand(href='#') 月光族财务系统
          ul.nav.secondary-nav
            li
              script(src='/site/status/login')
    .container-fluid
      block content

  