!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Login & Sign Up Page 1
    meta(name='description', content='')
    meta(name='author', content='')
    //
       Le HTML5 shim, for IE6-8 support of HTML elements 
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/bootstrap/js/jquery.min.js')
    script(type='text/javascript')
      $(document).ready(function(){
      $('#topbar').dropdown();
      $('#email_in').focus();
      });
    //
       Le styles 
    link(type='text/css', rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    style(type='text/css')
      body {
      padding-top: 60px;
      }
      .switch{
      display:inline-block;
      cursor:pointer;
      }
    //
       Le fav and touch icons 
  body
    .topbar
      .fill
        .container
          a.brand(href='#') 月光族财务系统
          ul.nav.secondary-nav
            li
              a(href='#') 朋友 欢迎您!
    .container
      block content
      .cleaner
      footer(style='text-align: center;')
        p
          | © Company 2011
          a(href='#', target='_blank', title='Professional Web Developer') 个人记账本
