
      

      <footer style='text-align:center;'>
        <p>&copy; Company 2011 <a href='#' target='_blank' title='Professional Web Developer'>个人记账本</a></p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
   

 