
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login &amp; Sign Up Page 1</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  

 
    <script src='/bootstrap/js/bootstrap.min.js'></script>

    <script src="/bootstrap/js/jquery.min.js"></script>

    
    <script type='text/javascript'>
    $(document).ready(function(){
      $('#topbar').dropdown();
      
      $('#email_in').focus();
    });
    
    
    </script>
    
    <!-- Le styles -->
        <link type='text/css' rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <style type="text/css">
      body {
        padding-top: 60px;
      }
      .switch{
        display:inline-block;
        cursor:pointer;
      }
    </style>

    <!-- Le fav and touch icons -->
  
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">月光族财务系统</a>
          
          <ul class="nav secondary-nav">
            <li><a href="#">朋友 欢迎您!</a></li>
          </ul>
        </div>
      </div>
    </div>
