<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> New Document </title>
  <meta name="Generator" content="EditPlus">
  <meta name="Author" content="">
  <meta name="Keywords" content="">
  <meta name="Description" content="">

 </head>

 <body>
		<h1><%= title %></h1>
		<form action="/create" method="post" accept-charset="utf-8">
		  <input type="text" name="content" />
		<button id="gosearch" type="submit">保存</button>
		</form>

		<% todos.forEach( function( todo ){ %>
		  <p><%= todo.content %></p>
		  <a href="/destroy/<%= todo._id %>" title="Delete this todo item">Delete</a>

		  <span>
      <a href="/edit/<%= todo._id %>" title="Update this todo item">edit</a>
    </span>
		<% }); %>

 </body>
</html>
